/* ==========================================================================
   General Styles
   ========================================================================== */
img {
  display: inline-block;
  vertical-align: middle;
  object-fit: cover; }

figure {
  margin-right: 16px; }

.icon {
  height: 50px;
  width: 50px; }

.smmarginr {
  margin-right: 15px; }

.spacer {
  width: 100%;
  height: 60px; }

html, body {
  overflow-x: hidden; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Font Styles
   ========================================================================== */
@font-face {
  font-family: 'Hind';
  src: url("hind/Hind-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Hind';
  src: url("hind/Hind-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'Hind';
  src: url("hind/Hind-Light.ttf") format("truetype");
  font-weight: lighter; }
@font-face {
  font-family: 'Montserrat';
  src: url("montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold; }
body * {
  font-family: 'Hind';
  color: white; }

.title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 42px;
  letter-spacing: 0.2em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

/* ==========================================================================
   Split Layout
   ========================================================================== */
.layout__left, .layout__right {
  width: 50%;
  text-align: center;
  height: 100vh; }

.content {
  padding-bottom: 75px;
  background-color: #92ABBD;
  clear: both; }

[class^="layout__"] {
  display: flex;
  justify-content: center; }
  [class^="layout__"] [class$="content"] {
    align-self: center; }

.layout__left {
  float: left;
  position: relative;
  flex-direction: column; }

.layout__right {
  float: right;
  background-color: gray; }
  .layout__right .rightcontent {
    width: 60%; }

/* ==========================================================================
   Projects Menu
   ========================================================================== */
.content__project {
  display: inline-block;
  position: relative; }

.project__img:hover .overlay, .overlay:hover {
  opacity: .85; }

.project__img:hover .overlay__text, .overlay:hover .overlay__text {
  opacity: 1;
  top: 0; }

.overlay {
  display: inline-block;
  background-color: #232223;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s; }
  .overlay .overlay__text {
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 0;
    padding-left: 30px;
    transition: all .5s; }
    .overlay .overlay__text h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
    .overlay .overlay__text p {
      font-size: 22px;
      font-weight: lighter; }

.tertiaryproj .overlay {
  width: 278px;
  height: 276px;
  z-index: 1;
  left: -595px;
  top: 10px; }

.quaternaryproj .overlay {
  left: -297px; }

.project__img {
  border: 10px solid black; }

/* ==========================================================================
   Navigation Menu
   ========================================================================== */
.navbar {
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 1;
  display: none;
  background-color: #EF4836;
  margin: 0;
  padding: 0; }
  .navbar .navbar__menuitem {
    display: inline-block;
    line-height: 2.5em;
    font-size: 24px; }
  .navbar .navbar__link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  .navbar .navbar__link:hover {
    color: black; }

.navbar--fill .navbar__menuitem {
  margin-right: 4vw; }
.navbar--fill .navbar__menuitem:last-child {
  margin-right: 0; }

#navbar--hidden .navbar__icon {
  padding-left: 5vw; }

#navbar--mobile .navbar__menuitem {
  padding-left: 10px; }
#navbar--mobile #navbar--mobile__menuicon {
  float: right;
  margin-right: 10px;
  margin-top: 10px; }
  #navbar--mobile #navbar--mobile__menuicon button {
    background-image: url("../img/hamburger.png");
    border: none;
    background-color: #EF4836; }
#navbar--mobile #navbar--mobile__links {
  display: none;
  /*background-color: #C0392B;*/ }
  #navbar--mobile #navbar--mobile__links .navbar__menuitem {
    display: block; }

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  background-color: gray;
  padding: 30px 10%; }
  footer * {
    display: inline-block; }
  footer .footer__title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* vertical-align: middle; */ }
  footer .footer__contact {
    float: right; }
    footer .footer__contact #contact__title {
      margin-right: 25px; }
    footer .footer__contact #contact__email {
      font-size: 1.5em;
      margin-right: 25px; }

/* ==========================================================================
   Media Queries 
   ========================================================================== */
@media screen and (max-width: 1350px) {
  .layout__left, .layout__right {
    width: 100%; }

  #contact__title {
    display: none; } }
@media screen and (max-width: 880px) {
  footer .footer__contact {
    display: none; }
  footer #footer__name {
    display: block;
    margin: 0 auto;
    width: 225px; }

  body #navbar--onpage, body #navbar--hidden {
    display: none; }

  #navbar--mobile {
    display: block;
    position: fixed; } }
/* ==========================================================================
   Content Styles
   ========================================================================== */
figure {
  display: inline-block;
  position: relative; }
  figure .smcaption {
    font-size: 14px; }

figcaption, .slide_caption {
  letter-spacing: 0.05em;
  font-size: 24px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center; }

#navbar--hidden {
  display: block;
  position: fixed;
  z-index: 5; }

.layout__left {
  background-color: black; }
  .layout__left [class^="projectpage__img"] {
    align-self: center; }
  .layout__left .projectpage__img--mobile {
    height: 80%;
    width: auto; }

.layout__right .subtitle {
  letter-spacing: 0.05em; }

.content {
  padding-bottom: 0; }
  .content .title {
    padding-top: 75px; }
  .content .project__content__img {
    width: 70%; }
  .content img:not(.figure__img) {
    margin-bottom: 10px; }
  .content section {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px; }
    .content section .content__midsection {
      width: 65%; }
    .content section .section__description {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      display: block;
      text-align: center; }
    .content section .project__link {
      font-size: 22px; }
  .content #section__final *:not(.title), .content #section__lessons *:not(.title) {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .content .section__reverse {
    background-color: gray; }
    .content .section__reverse .content__midsection {
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
      .content .section__reverse .content__midsection .midsection__title {
        border-color: #92ABBD; }
  .content .twophoto {
    display: inline-block;
    width: 550px; }
    .content .twophoto * {
      width: 550px; }
  .content .twophoto:first-of-type {
    margin-right: 10px; }
  .content .threephoto {
    display: inline-block;
    width: 300px; }
    .content .threephoto * {
      width: 300px; }
  .content .content__midsection {
    margin: 0 auto;
    margin-bottom: 100px; }
    .content .content__midsection .midsection__title {
      font-family: 'Arial';
      border-top: 5px solid #8c8b8b;
      border-bottom: 5px solid #8c8b8b;
      width: 125px;
      padding: 5px;
      font-size: 32px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-top: 0; }
    .content .content__midsection .midsection__description {
      width: 60%;
      margin-bottom: 30px; }
  .content .subsection {
    margin: 70px auto; }
    .content .subsection .subsection__title {
      font-family: 'Arial';
      font-size: 28px;
      letter-spacing: 0.05em;
      text-transform: uppercase; }
    .content .subsection .subsection__description {
      width: 70%; }

.main-carousel img {
  height: 550px;
  position: relative; }

/* ==========================================================================
   Other Projects
   ========================================================================== */
.browseprojects {
  padding-top: 60px;
  padding-bottom: 100px;
  margin: 0 auto; }
  .browseprojects #content__projectmenu {
    width: 1020px;
    margin: 0 auto; }
  .browseprojects .content__project {
    margin: 0 auto;
    margin-bottom: 10px;
    display: inline-block;
    position: relative; }
    .browseprojects .content__project .project__img, .browseprojects .content__project .overlay {
      width: 300px;
      height: 300px;
      top: 10px;
      left: 10px; }
    .browseprojects .content__project .overlay__text h3 {
      font-size: 28px; }
    .browseprojects .content__project .overlay__text p {
      line-height: 1em; }
  .browseprojects .content__project:not(:last-child) {
    margin-right: 15px; }
  .browseprojects .title {
    color: black; }

/* ==========================================================================
   Media Queries 
   ========================================================================== */
@media screen and (max-width: 1200px) {
  .content section .content__midsection {
    width: 80%; }
  .content .project__content__img {
    width: 90%; }
  .content .twophoto, .content .twophoto * {
    width: 100%; }
  .content .threephoto {
    width: 90%; }
    .content .threephoto * {
      width: 70%; }

  .browseprojects #content__projectmenu {
    width: 320px; } }
@media screen and (max-width: 900px) {
  figure img {
    margin-bottom: 5px; }
  figure figcaption {
    text-align: left;
    background-color: #92ABBD;
    line-height: 1em;
    position: static; }
  figure .smcaption {
    font-size: 24px; }

  .content .section__reverse figcaption {
    width: 90%;
    background-color: gray; }
  .content .subsection .subsection__description {
    width: 100%; }
  .content .content__midsection .midsection__description {
    width: 100%; }
  .content .threephoto, .content .threephoto * {
    width: 90%; } }
@media screen and (max-width: 450px) {
  .layout__right .rightcontent {
    width: 90%; } }
@media screen and (max-height: 600px) {
  .layout__right {
    height: 130%; } }
.projectpage__img {
  width: 90%;
  height: auto; }

#section__infographic .figure__img {
  width: 275px; }
#section__infographic figure {
  margin-bottom: 65px; }
  #section__infographic figure figcaption {
    bottom: -50px;
    width: 275px; }

@media screen and (max-width: 900px) {
  #section__infographic .figure__img, #section__infographic figcaption {
    width: 100%; }
  #section__infographic figure {
    margin-left: 0;
    margin-right: 0; } }
