@import 'project';

.projectpage__img{
	width: 90%;
    height: auto;
}

#section__infographic{
	.figure__img{
		width: 275px; 
	}

	figure{
		margin-bottom: 65px;

		figcaption{
	        bottom: -50px;
	        width: 275px; 
		}
	}
}

@media screen and (max-width: 900px){
	#section__infographic {
		.figure__img, figcaption{
			width: 100%; 
		}

		figure{
			margin-left: 0; 
			margin-right: 0; 
		}
	}


}
