@import 'main';

/* ==========================================================================
   Left Layout 
   ========================================================================== */

	.layout__left{
	    background: linear-gradient(
	        rgba(0, 0, 0, 0.45), 
	        rgba(0, 0, 0, 0.45)
	    ), url('../img/DSC09683.JPG');
	    background-size: cover;
	    background-position: 100% 150%;

	    #graphic{
	    	width: 62.5%; 
	    }

	    #name{
	   		font-size: 52px; 
	        text-transform: uppercase;
	        letter-spacing: 0.1em; 
	        font-family: 'Montserrat', sans-serif;
	        font-weight: normal;
	    }

		#headline{
			font-size: 20px;
			margin: 0;
		}
	}

/* ==========================================================================
   Navigation Menu
   ========================================================================== */

	#navbar--onpage{
		display: block;
	    position: absolute;
	    bottom: 0;
	}

/* ==========================================================================
   Projects Menu
   ========================================================================== */

   $color-blue: #92ABBD; 
   $projectimg-length: 580px; 

   	.content{
	    padding: 75px 0; 
	    background-color: $color-blue; 
	    clear: both;

	    #content__projectmenu{
			margin: 0 auto;
		    margin-bottom: 150px;
		    margin-top: 100px;
		    padding-left: 5%; 
		    width: 1325px; 

		    .primaryproj .project__img{
		    	width: $projectimg-length;
    			height: $projectimg-length;
		    }

		    .secondaryproj{
		    	vertical-align: top; 

		    	.project__img{
			    	width: $projectimg-length;
			    	height: 280px;
	    			object-position: 0 0; 
			    }
			}

		    .tertiaryproj .project__img{
		    	position: absolute; 
			    left: -605px;
			    width: 278px;
			    height: 276px;
		    }

		    .quaternaryproj .project__img{
		    	left: -307px;
		    }
		}
	}

	.overlay{
		.overlay__text{
			line-height: .4em; 

			h3{
				font-size: 48px;
			}

			p{
				font-size: 28px;
	    		line-height: 1.1em;
			}
		}
		.tertiaryproj__text{
			h3{
				font-size: 28px;
	    		line-height: 1em; 
			}

			p{
				font-size: 22px;
			}
		}
	}

	.container__artwork{
		.artwork__image{
			height: 600px; 
		}
	}

/* ==========================================================================
   Media Queries 
   ========================================================================== */

    $project_menu_break: 1350px; 
    $project_menu_break_medium: 700px; 
    $project_menu_break_small: 450px; 
    $title_size_reduce: 700px;


	@media screen and (max-width: $project_menu_break){
        .content #content__projectmenu{
        	width: 650px;

        	.content__project{
	            margin-bottom: 10px;
	        }

        	.secondaryproj{
            	display: block;

            	.overlay{
            		width: 590px;
            	}
        	}
        	.tertiaryproj{
        		.overlay{
        			left: 10px; 
        			top: 10px; 
        		}

        		.project__img{
        			position: static;
        		}
        	}
        }
    }
    @media screen and (max-width: $project_menu_break_medium){
       	.content {
       		padding-bottom: 5px; 

       		#content__projectmenu{
	            width: 445px;

	            .content__project{
	            	display: block;

	            	.project__img{
		            	width: 400px;
		            	height: 300px;
		            }

	            	.overlay{
	            		width: 410px;
	            		height: 310px;
	            	}
	        	}
	        }
        }
    }

    @media screen and (max-width: $project_menu_break_small){
    	.layout__right .rightcontent{
    		width: 85%; 
    	}

    	.content #content__projectmenu{
    		width: 300px;
            padding-left: 0;

            .content__project{
            	.project__img{
            		width: 278px;
            		height: 276px;
            	}

            	.overlay{
		            width: 288px;
		            height: 286px;
		         }
            }
    	}

    	.layout__left #name{
            font-size: 32px;
    	}
    }

    @media screen and (max-height: 600px){
    	.layout__right{
    		height: auto;
    		padding: 20px 0; 
    	}
    }

    @media screen and (max-width: $title_size_reduce){
    	.title{
            font-size: 28px;
    	}
    }