/* ==========================================================================
   General Styles
   ========================================================================== */
img {
  display: inline-block;
  vertical-align: middle;
  object-fit: cover; }

figure {
  margin-right: 16px; }

.icon {
  height: 50px;
  width: 50px; }

.smmarginr {
  margin-right: 15px; }

.spacer {
  width: 100%;
  height: 60px; }

html, body {
  overflow-x: hidden; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Font Styles
   ========================================================================== */
@font-face {
  font-family: 'Hind';
  src: url("hind/Hind-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Hind';
  src: url("hind/Hind-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'Hind';
  src: url("hind/Hind-Light.ttf") format("truetype");
  font-weight: lighter; }
@font-face {
  font-family: 'Montserrat';
  src: url("montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold; }
body * {
  font-family: 'Hind';
  color: white; }

.title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 42px;
  letter-spacing: 0.2em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

/* ==========================================================================
   Split Layout
   ========================================================================== */
.layout__left, .layout__right {
  width: 50%;
  text-align: center;
  height: 100vh; }

.content {
  padding-bottom: 75px;
  background-color: #92ABBD;
  clear: both; }

.layout__left {
  float: left;
  position: relative; }

.layout__right {
  float: right;
  background-color: gray;
  display: flex;
  justify-content: center; }
  .layout__right .rightcontent {
    width: 60%;
    align-self: center; }

/* ==========================================================================
   Projects Menu
   ========================================================================== */
.content__project {
  display: inline-block;
  position: relative; }

.project__img:hover .overlay, .overlay:hover {
  opacity: .85; }

.project__img:hover .overlay__text, .overlay:hover .overlay__text {
  opacity: 1;
  top: 0; }

.overlay {
  display: inline-block;
  background-color: #232223;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s; }
  .overlay .overlay__text {
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 0;
    padding-left: 30px;
    transition: all .5s; }
    .overlay .overlay__text h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
    .overlay .overlay__text p {
      font-size: 22px;
      font-weight: lighter; }

.tertiaryproj .overlay {
  width: 278px;
  height: 276px;
  z-index: 1;
  left: -595px;
  top: 10px; }

.quaternaryproj .overlay {
  left: -297px; }

.project__img {
  border: 10px solid black; }

/* ==========================================================================
   Navigation Menu
   ========================================================================== */
.navbar {
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 1;
  display: none;
  background-color: #EF4836;
  margin: 0;
  padding: 0; }
  .navbar .navbar__menuitem {
    display: inline-block;
    line-height: 2.5em;
    font-size: 24px; }
  .navbar .navbar__link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  .navbar .navbar__link:hover {
    color: black; }

.navbar--fill .navbar__menuitem {
  margin-right: 4vw; }
.navbar--fill .navbar__menuitem:last-child {
  margin-right: 0; }

#navbar--hidden .navbar__icon {
  padding-left: 5vw; }

#navbar--mobile .navbar__menuitem {
  padding-left: 10px; }
#navbar--mobile #navbar--mobile__menuicon {
  float: right;
  margin-right: 10px;
  margin-top: 10px; }
  #navbar--mobile #navbar--mobile__menuicon button {
    background-image: url("../img/hamburger.png");
    border: none;
    background-color: #EF4836; }
#navbar--mobile #navbar--mobile__links {
  display: none;
  /*background-color: #C0392B;*/ }
  #navbar--mobile #navbar--mobile__links .navbar__menuitem {
    display: block; }

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  background-color: gray;
  padding: 30px 10%; }
  footer * {
    display: inline-block; }
  footer .footer__title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* vertical-align: middle; */ }
  footer .footer__contact {
    float: right; }
    footer .footer__contact #contact__title {
      margin-right: 25px; }
    footer .footer__contact #contact__email {
      font-size: 1.5em;
      margin-right: 25px; }

/* ==========================================================================
   Media Queries 
   ========================================================================== */
@media screen and (max-width: 1350px) {
  .layout__left, .layout__right {
    width: 100%; }

  #contact__title {
    display: none; } }
@media screen and (max-width: 880px) {
  footer .footer__contact {
    display: none; }
  footer #footer__name {
    display: block;
    margin: 0 auto;
    width: 225px; }

  body #navbar--onpage, body #navbar--hidden {
    display: none; }

  #navbar--mobile {
    display: block;
    position: fixed; } }
/* ==========================================================================
   Left Layout 
   ========================================================================== */
.layout__left {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/DSC09683.JPG");
  background-size: cover;
  background-position: 100% 150%; }
  .layout__left #graphic {
    width: 400px;
    padding-top: 15%; }
  .layout__left #name {
    font-size: 52px;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /*font-family: 'Montserrat', sans-serif;
    font-weight: normal;*/ }
  .layout__left #headline {
    width: 60%;
    margin: auto;
    font-size: 20px; }

/* ==========================================================================
   Navigation Menu
   ========================================================================== */
#navbar--onpage {
  display: block;
  position: absolute;
  bottom: 0; }

/* ==========================================================================
   Projects Menu
   ========================================================================== */
.content {
  padding: 75px 0;
  background-color: #92ABBD;
  clear: both; }
  .content #content__projectmenu {
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 100px;
    padding-left: 5%;
    width: 1325px; }
    .content #content__projectmenu .primaryproj .project__img {
      width: 580px;
      height: 580px; }
    .content #content__projectmenu .secondaryproj {
      vertical-align: top; }
      .content #content__projectmenu .secondaryproj .project__img {
        width: 580px;
        height: 280px;
        object-position: 0 0; }
    .content #content__projectmenu .tertiaryproj .project__img {
      position: absolute;
      left: -605px;
      width: 278px;
      height: 276px; }
    .content #content__projectmenu .quaternaryproj .project__img {
      left: -307px; }

.overlay .overlay__text {
  line-height: .4em; }
  .overlay .overlay__text h3 {
    font-size: 48px; }
  .overlay .overlay__text p {
    font-size: 28px;
    line-height: 1.1em; }
.overlay .tertiaryproj__text h3 {
  font-size: 28px;
  line-height: 1em; }
.overlay .tertiaryproj__text p {
  font-size: 22px; }

/* ==========================================================================
   Media Queries 
   ========================================================================== */
@media screen and (max-width: 1350px) {
  .content #content__projectmenu {
    width: 650px; }
    .content #content__projectmenu .content__project {
      margin-bottom: 10px; }
    .content #content__projectmenu .secondaryproj {
      display: block; }
      .content #content__projectmenu .secondaryproj .overlay {
        width: 590px; }
    .content #content__projectmenu .tertiaryproj .overlay {
      left: 10px;
      top: 10px; }
    .content #content__projectmenu .tertiaryproj .project__img {
      position: static; } }
@media screen and (max-width: 700px) {
  .layout__left #graphic {
    width: 300px; }

  .content {
    padding-bottom: 5px; }
    .content #content__projectmenu {
      width: 445px; }
      .content #content__projectmenu .content__project {
        display: block; }
        .content #content__projectmenu .content__project .project__img {
          width: 400px;
          height: 300px; }
        .content #content__projectmenu .content__project .overlay {
          width: 410px;
          height: 310px; } }
@media screen and (max-width: 450px) {
  .content #content__projectmenu {
    width: 300px;
    padding-left: 0; }
    .content #content__projectmenu .content__project .project__img {
      width: 278px;
      height: 276px; }
    .content #content__projectmenu .content__project .overlay {
      width: 288px;
      height: 286px; }

  .layout__left #name {
    font-size: 32px; } }
@media screen and (max-height: 700px) {
  .layout__left {
    height: 100%;
    padding-bottom: 25%; }
    .layout__left #graphic {
      padding-top: 25%; }

  .layout__right {
    height: 100%; } }
@media screen and (max-width: 700px) {
  .title {
    font-size: 28px; } }

/*# sourceMappingURL=index.css.map */
