@import 'project'; 

figcaption{
	width: 300px; 
}

.undercaption{
	top: 73px;
    width: 453px;
}

.threephoto:not(.figure__img){
	margin: 16px 40px; 
}


@media screen and (max-width: 1200px){
	figure{
		width: 90%; 

		*{
			width: 90%;
		}
	}
}
