@import 'project'; 

figcaption{
	width: 300px; 
}

.undercaption{
	top: 73px;
    width: 453px;
}

.threephoto:not(.figure__img){
	margin: 16px 40px; 
}

@media screen and (max-width: 1650px){
	#midsection__compscenarios{
		figure{
			margin-bottom: 50px; 
		}
	}
	
}

@media screen and (max-width: 500px){
	.undercaption{
		width: 100%; 
	}
}
