@import 'project'; 

$color-blue: #92ABBD; 
$color-gray: #4C4C4C; 


.card {
    width: 370px; 
    margin-right: 15px;  
    margin-bottom: 20px;

    border-radius: 2px;
    width: 370px;
    vertical-align: top;
    padding-top: 10px;

    background-color: black;    
    display: inline-block;


	img{
	    width: 350px;
	    height: 275px;
        margin: 0 auto; 
        display: block; 
	}

    h2, p{
        margin: 10px 15px; 
    }
}

.layout__left{
	background-color: white; 
}

#abtestresults__table {
    thead{ 
        th:first-child{
            background-color: gray; 
        }
    }

    th, td{
        font-size: 24px;
        padding: 5px 10px;
        width: 1%;
        background-color: black; 
        text-align: center; 
    }

    th{
        background-color: $color-blue; 
        color: black;
        border-color: $color-blue;   
    }

    td{
        border-bottom:1px solid $color-gray;
        border-right:1px solid $color-gray;
    }
}

.midsection__prototypes:first-of-type{
    margin-right: 75px; 
}

.midsection__prototypes{
    display: inline-block; 

    .slide_caption {
        left: 44px;
        width: 412.5px;
    }

    #itemprototype .slide_caption{
        width: 311px;
        left: 94px;
    }
}

#midsection__heuristic{
    ul{
        width: 60%; 
    }
}


#midsection__ABtesting{
    .twophoto {
        margin: 0;  
        margin-bottom: 15px; 
        margin-right: 15px;
    }
}

@media screen and (max-width: 1200px){
    #midsection__heuristic{
        ul{
            width: 80%; 
        }
    }
}

@media screen and (max-width: 900px){
    #midsection__ABtesting{
        .twophoto {
            margin: 0; 
            margin-right: 15px; 
        }
    } 
}

@media screen and (max-width: 450px){
    .card{
        width: 100%; 

        img{
            width: 95%; 
        }
    }
}