.projectimg{
    height: 80%;
    width: auto;
}
#theproject{
    background-color: white;
}
#storyboard img{
    width: 590px;
}
#storyboard{
    width: 1190px;
}
#content h3{
    text-transform: uppercase;
}
.card{
    border-radius: 2px;
    background-color: black;
    display: inline-block;
    width: 370px;
    vertical-align: top;
    margin-right: 15px;
    padding-top: 10px;
    margin-bottom: 15px;
}
.card img{
    width: 350px;
    height: 275px;
    object-fit: cover;
    display: block;
    margin: auto; 
}
.card > h2, .card > p{
    margin-right: 15px;
    margin-left: 15px;
}
#iteration{
    background-color: black;
}
#ABtesting img{
    width: 500px;
}
#ABtesting figure{
    display: inline-block;  
}
#ABtesting{
    width: 1175px; 
}
#prototypes{
    width: 1200px;
}
.salehound-prototype{
    height: 625px;
    margin: auto;
    object-fit: cover;
}
.lazy{
    margin: 0 auto;
    width: 500px;
}
#prototypes > div{
    display: inline-block;
}
#storeprototype{
    margin-right: 150px;
}
#inspiration{
    width: 1175px; 
}
#heuristic, #usertesting{
    width: 50%;
    color: white;
}
h4{
    text-align: center; 
    font-size: 24px;
}
#ABtesting #chisquare{
    width: 60%;
}
figcaption p{
    color: white;
}
#abtestresults th, #abtestresults td{
    font-weight: bold; 
    background-color: #DADAD7;
    color: white;
    font-size: 30px;
}

#abtestresults th{
    background-color: #CECFC9; 
    color: black;
}

