/* ==========================================================================
   General Styles
   ========================================================================== */
img {
  display: inline-block;
  vertical-align: middle;
  object-fit: cover; }

figure {
  margin-right: 16px; }

.icon {
  height: 50px;
  width: 50px; }

.smmarginr {
  margin-right: 15px; }

.spacer {
  width: 100%;
  height: 60px; }

html, body {
  overflow-x: hidden; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Font Styles
   ========================================================================== */
@font-face {
  font-family: 'Hind';
  src: url("hind/Hind-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Hind';
  src: url("hind/Hind-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'Hind';
  src: url("hind/Hind-Light.ttf") format("truetype");
  font-weight: lighter; }
@font-face {
  font-family: 'Montserrat';
  src: url("montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold; }
body * {
  font-family: 'Hind';
  color: white; }

.title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 42px;
  letter-spacing: 0.2em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

/* ==========================================================================
   Split Layout
   ========================================================================== */
.layout__left, .layout__right {
  width: 50%;
  text-align: center;
  height: 100vh; }

.content {
  padding-bottom: 75px;
  background-color: #92ABBD;
  clear: both; }

[class^="layout__"] {
  display: flex;
  justify-content: center; }
  [class^="layout__"] [class$="content"] {
    align-self: center; }

.layout__left {
  float: left;
  position: relative;
  flex-direction: column; }

.layout__right {
  float: right;
  background-color: gray; }
  .layout__right .rightcontent {
    width: 60%; }

/* ==========================================================================
   Projects Menu
   ========================================================================== */
.content__project {
  display: inline-block;
  position: relative; }

.project__img:hover .overlay, .overlay:hover {
  opacity: .85; }

.project__img:hover .overlay__text, .overlay:hover .overlay__text {
  opacity: 1;
  top: 0; }

.overlay {
  display: inline-block;
  background-color: #232223;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s; }
  .overlay .overlay__text {
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 0;
    padding-left: 30px;
    transition: all .5s; }
    .overlay .overlay__text h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
    .overlay .overlay__text p {
      font-size: 22px;
      font-weight: lighter; }

.tertiaryproj .overlay {
  width: 278px;
  height: 276px;
  z-index: 1;
  left: -595px;
  top: 10px; }

.quaternaryproj .overlay {
  left: -297px; }

.project__img {
  border: 10px solid black; }

/* ==========================================================================
   Navigation Menu
   ========================================================================== */
.navbar {
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 1;
  display: none;
  background-color: #EF4836;
  margin: 0;
  padding: 0; }
  .navbar .navbar__menuitem {
    display: inline-block;
    line-height: 2.5em;
    font-size: 24px; }
  .navbar .navbar__link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  .navbar .navbar__link:hover {
    color: black; }

.navbar--fill .navbar__menuitem {
  margin-right: 4vw; }
.navbar--fill .navbar__menuitem:last-child {
  margin-right: 0; }

#navbar--hidden .navbar__icon {
  padding-left: 5vw; }

#navbar--mobile .navbar__menuitem {
  padding-left: 10px; }
#navbar--mobile #navbar--mobile__menuicon {
  float: right;
  margin-right: 10px;
  margin-top: 10px; }
  #navbar--mobile #navbar--mobile__menuicon button {
    background-image: url("../img/hamburger.png");
    border: none;
    background-color: #EF4836; }
#navbar--mobile #navbar--mobile__links {
  display: none;
  /*background-color: #C0392B;*/ }
  #navbar--mobile #navbar--mobile__links .navbar__menuitem {
    display: block; }

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  background-color: gray;
  padding: 30px 10%; }
  footer * {
    display: inline-block; }
  footer .footer__title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* vertical-align: middle; */ }
  footer .footer__contact {
    float: right; }
    footer .footer__contact #contact__title {
      margin-right: 25px; }
    footer .footer__contact #contact__email {
      font-size: 1.5em;
      margin-right: 25px; }

/* ==========================================================================
   Media Queries 
   ========================================================================== */
@media screen and (max-width: 1350px) {
  .layout__left, .layout__right {
    width: 100%; }

  #contact__title {
    display: none; } }
@media screen and (max-width: 880px) {
  footer .footer__contact {
    display: none; }
  footer #footer__name {
    display: block;
    margin: 0 auto;
    width: 225px; }

  body #navbar--onpage, body #navbar--hidden {
    display: none; }

  #navbar--mobile {
    display: block;
    position: fixed; } }
@font-face {
  font-family: 'BiteBullet';
  src: url("Bite_Bullet.ttf") format("truetype"); }
body {
  background: #92ABBD;
  padding: 0;
  margin: 0; }

#resume {
  padding: 0% 10%; }

.heading .title {
  font-weight: normal;
  float: left;
  display: inline-block;
  padding-top: 10px; }

.heading > .contact {
  margin: 30px 0;
  float: right; }

.heading > .contact > a {
  font-size: 22px;
  text-decoration: none;
  font-family: 'Montserrat'; }

.heading > .contact img {
  width: 40px;
  height: 40px; }

.heading > .contact img:first-child {
  width: 40px;
  height: 40px;
  margin: 15px; }

.heading {
  padding: 0 10%;
  background-color: black; }

.block {
  background-color: white;
  padding: 1px 15px; }

#resume h1 {
  text-align: center;
  font-size: 75px; }

#resume h2 {
  font-size: 3.5em; }

#resume h1, #resume h2 {
  font-family: 'BiteBullet';
  color: white; }

#left > h2 {
  text-align: right; }

p {
  line-height: 40%; }

h3, h4 {
  line-height: 20%; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.4em;
  font-style: italic;
  font-weight: normal; }

p {
  font-size: 1.5em; }

li {
  font-size: 1.3em; }

#resume h3, #resume h4, #resume li, #resume p, strong {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: black;
  line-height: 1; }

.date {
  float: right;
  font-size: 1.25em; }

img {
  display: inline-block;
  width: 60px;
  height: auto; }

#skills_container {
  margin-left: 3%;
  margin-bottom: 100px; }

#skills_title {
  float: left;
  width: 100px; }

#skills_title img {
  margin-left: 20px;
  margin-top: -20px; }

#skills {
  float: right;
  width: 90%;
  transform: translateY(7%); }

#skills p {
  border-radius: 50%;
  height: 110px;
  width: 110px;
  line-height: 110px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 21px;
  background-color: #959595;
  display: inline-block;
  margin-right: 10.5px; }

#skills p:first-child {
  margin-left: 10px; }

#left {
  float: left;
  width: 45%;
  border-right: 5px dashed white;
  padding-right: 60px; }

#right {
  margin-left: 0px;
  float: right;
  width: 45%; }

/* Clearfix hack - to prevent from overflowing over column */
.container:before, .container:after {
  content: "";
  display: table;
  clear: both; }

#navbar--hidden {
  display: block;
  position: fixed;
  left: 0;
  top: 0; }

.spacer {
  width: 100%;
  height: 60px; }

#contact p {
  text-align: right; }

/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media (max-width: 1300px) {
  h3, h4 {
    line-height: 100%; } }
@media (max-width: 1300px) {
  #left, #right {
    width: 100%;
    border-style: none; }

  #contact, #left > h2 {
    text-align: left; }

  #contact p {
    text-align: center; } }
/* Skills (Resume) break down */
@media (max-width: 1300px) {
  #skills_title img, #skills_title h2 {
    display: inline-block; }

  #skills_title {
    width: auto;
    height: 100px;
    margin-bottom: 0; }

  #skills {
    float: left;
    width: 100%; } }
/* Resume Header break down */
@media (max-width: 750px) {
  .heading > .contact {
    float: right;
    width: auto; } }
@media (max-width: 550px) {
  .heading > .contact {
    float: none;
    width: 115px; } }
@media (max-width: 380px) {
  .heading > .contact {
    margin: 15px auto; } }
